{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extra_css %}

{% endblock %}

{% block content %}

<div class="row mx-auto text-center" style = "margin-top:80px;">
	<div class="col-sm-12 col-md-6 mx-auto">
		{% if form.errors %}
		{% comment %} <p class="text-danger">Your username and password didn't match. Please try again.</p> {% endcomment %}
		{% endif %}
		{% if next %}
		{% if user.is_authenticated %}
		<p>Your account doesn't have access to this page. To proceed,
			please login with an account that has access.</p>
			{% else %}
			<p>Please login to see this page.</p>
			{% endif %}
			{% endif %}
			<form method="post" action="{% url 'login' %}">
				{% csrf_token %}
				{{form|crispy}}
				<input class="btn btn-success btn-lg"type="submit" value="login" />
				<input type="hidden" name="next" value="{{ next }}" />
			</form>
			
				<hr>

					<p class="text-muted"><a href="{% url 'password_reset' %}">Lost password?</a></p>
					<p class="text-muted"><a href="{% url 'signup' %}">Sign up</a></p>
				</div></div>
				{% endblock %}
